.ok{
    color:rgb(143, 71, 17);
}

h1{
    color: rgb(203, 7, 7);
    text-align: center ;
    background-color: rgb(124, 63, 63);
    
}

head{
    color: rgb(203, 7, 7);
    text-align: center ;
    background-color: rgb(124, 63, 63);
    
}