.ok{
    color:rgb(0, 72, 255));
    text-align: center;
}

h1{
    color: rgb(9, 77, 236);
    text-align: center ;
    background-color: rgb(86, 213, 236);
    
}

head{
    color: rgb(49, 7, 203);
    text-align: center ;
    background-color: rgb(212, 203, 203);
    
}

body{
    color:rgb(0, 21, 255);
    text-align: center;
    background-color: aliceblue;
}